@model TestInvoice.Models.CustomerViewModel
@{
    ViewBag.Title = "Borrar";
}


<link rel="stylesheet" href="~/Content/Template/bower_components/bootstrap-select/dist/css/bootstrap-select.css">
<link href="~/Content/custom.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <form method="post" action="@Url.Action("Borrar","Customer")">
            @Html.HiddenFor(x => x._customerId)
            <div class="col-lg-12">
                <!-- DataTableArea -->
                <div class="content-box">
                    <div class="head info-bg clearfix">
                        <h5 class="content-title pull-left">Editar Customer Type</h5>
                    </div>
                    <div class="content">
                        <div class="form-group">
                            <label class="control-label info-color">Nombre</label>
                            <input type="text" name="_custName" value="@Model._custName" class="form-control input-info" disabled>
                        </div>
                        <div class="form-group">
                            <label class="control-label info-color">Direccion</label>
                            <textarea type="text" name="_adress" class="form-control input-info" disabled>@Model._adress</textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label info-color">Estado</label>
                            <select type="text" name="_status" class="form-control input-info" id="_estatus" disabled>
                                @if (Model._status)
                                {
                                    <option value="true" selected>Activo</option>
                                    <option value="false">Inactivo</option>
                                }
                                else
                                {
                                    <option value="true">Activo</option>
                                    <option value="false" selected>Inactivo</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label info-color">Tipo Cliente</label>
                            <select type="text" name="_customerTypeId" class="form-control input-info" id="_customerTypeId" disabled>
                                @foreach (var item in Model._customerTypes.ToList())
                                {
                                    if (item.Id == Model._customerTypeId)
                                    {
                                        <option value="@item.Id" selected>@item.Description</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Borrar</button>
                            <a href="@Url.Action("Index","Customer")" class="btn btn-danger" style="color:white">Cancelar</a>
                        </div>

                    </div>
                </div>
                <!-- DataTableArea -->
            </div>
        </form>
    </div>
    @if (Model._message != null)
    {
        <div class="col-lg-4">
            <div class="col-lg-12 col-md-12">
                <div class="content-box p-20 gplus white f-s-16">
                    <span class="text-uppercase">Mensaje</span><br>
                    <p class="m-t-20">
                        @Model._message
                    </p>
                </div>
            </div>
        </div>
    }
</div>


@section scripts{
    <script src="~/Content/Template/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="~/Content/Template/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Template/bower_components/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/Content/Template/bower_components/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="~/Content/Template/bower_components/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Content/Template/bower_components/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="~/Content/Template/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Content/Template/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>



    <script>

        $("#datetimepicker1").datetimepicker({
            icons: {
                time: "zmdi zmdi-time",
                date: "zmdi zmdi-calendar",
                up: "zmdi zmdi-chevron-up",
                down: "zmdi zmdi-chevron-down",
                previous: "zmdi zmdi-chevron-left",
                next: "zmdi zmdi-chevron-right"
            }
        });
    </script>

}

