@model TestInvoice.Models.CustomerViewModel
@{
    ViewBag.Title = "Edit";
}


<link rel="stylesheet" href="~/Content/Template/bower_components/bootstrap-select/dist/css/bootstrap-select.css">
<link href="~/Content/custom.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <form method="post" action="@Url.Action("Editar","Customer")">
            @Html.HiddenFor(x => x._customerId)
            <div class="col-lg-12">
                <!-- DataTableArea -->
                <div class="content-box">
                    <div class="head info-bg clearfix">
                        <h5 class="content-title pull-left">Editar Customer Type</h5>
                    </div>
                    <div class="content">
                        <div class="form-group">
                            <label class="control-label info-color">Nombre</label>
                            <input type="text" name="_custName" value="@Model._custName" class="form-control input-info">
                        </div>
                        <div class="form-group">
                            <label class="control-label info-color">Direccion</label>
                            <textarea type="text" name="_adress" class="form-control input-info"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label info-color">Estado</label>
                            <select type="text" name="_status" class="form-control input-info">
                                <option value="true">Activo</option>
                                <option value="false">Inactivo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label info-color">Tipo Cliente</label>
                            <select type="text" name="_customerTypeId" class="form-control input-info">
                                @foreach (var item in Model._customerTypes)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Editar</button>
                            <a href="@Url.Action("Index","CustomerTypes")" class="btn btn-danger" style="color:white">Cancelar</a>
                        </div>

                    </div>
                </div>
                <!-- DataTableArea -->
            </div>
        </form>
    </div>
</div>


@section scripts{
    <script src="~/Content/Template/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="~/Content/Template/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Template/bower_components/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/Content/Template/bower_components/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="~/Content/Template/bower_components/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Content/Template/bower_components/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="~/Content/Template/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Content/Template/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>



    <script>
        $("#datetimepicker1").datetimepicker({
            icons: {
                time: "zmdi zmdi-time",
                date: "zmdi zmdi-calendar",
                up: "zmdi zmdi-chevron-up",
                down: "zmdi zmdi-chevron-down",
                previous: "zmdi zmdi-chevron-left",
                next: "zmdi zmdi-chevron-right"
            }
        });
    </script>

}

