@model IEnumerable<TestInvoice.Models.CustomerViewModel>
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/Template/bower_components/datatables/media/css/jquery.dataTables.min.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6"><h4>Customer</h4></div>
        <div class="col-lg-6">
            <a href="@Url.Action("Nuevo","Customer")" class="btn btn-success" style="color:white">Agregar</a>
        </div>
        <div class="col-lg-12">
            <!-- DataTableArea -->
            <div class="data-info">
                <table id="table2" class="display datatable">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo Cliente</th>
                            <th>Estado</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item._custName</td>
                                <td>@item._customerTypeDescripcion</td>
                                <td>
                                    @if (item._status)
                                    {
                                        <p>Activo</p>
                                    }
                                    else
                                    {
                                        <p>Inactivo</p>
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("Editar","Customer", new { id = item._customerTypeId})" style="color:white" class="btn btn-primary btn-sm waves-effect">Editar</a>
                                    <a href="@Url.Action("Detalle","Customer", new { id = item._customerTypeId})" style="color:white" class="btn btn-info btn-sm waves-effect">Ver</a>
                                    <a href="@Url.Action("Borrar","Customer", new { id = item._customerTypeId})" style="color:white" class="btn btn-danger btn-sm waves-effect">Borrar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- DataTableArea -->
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/Template/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Template/bower_components/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/Content/Template/bower_components/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="~/Content/Template/bower_components/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Content/Template/bower_components/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="~/Content/Template/bower_components/moment/min/moment.min.js"></script>

    <script>
        //Data Tables
        $('#table2').DataTable({
            "dom": '<"toolbar tool2"><"clear-filter">frtip',
            info: false,
            paging: true,
            responsive: true,
            "oLanguage": { "sSearch": "" }
        });
        $('.dataTables_filter input').attr("placeholder", "Buscar");
    </script>
}
